Source: synapse
Section: utils
Priority: optional
Maintainer: Michal Hruby <michal.mhr@gmail.com>
Build-Depends: debhelper (>= 7.0.50~),
 intltool (>= 0.35),
 automake,
 libtool,
 pkg-config,
 valac (>= 0.16.0),
 libzeitgeist-dev (>= 0.2.14),
 libdbus-glib-1-dev,
 libgtk-3-dev (>= 2.20.0),
 libglib2.0-dev (>= 2.22.0),
 libgee-dev (>= 0.5.2),
 libjson-glib-dev (>= 0.10.0),
 libunique-3.0-dev,
 libkeybinder-3.0-dev,
 libnotify-dev,
 librest-dev,
 libsoup-gnome2.4-dev,
 libappindicator3-dev (>= 0.0.7)
Vcs-Bzr: http://bazaar.launchpad.net/~synapse-core/synapse-project/trunk/
Vcs-Browser: http://bazaar.launchpad.net/~synapse-core/synapse-project/trunk/files
Homepage: https://launchpad.net/synapse-project
Standards-Version: 3.9.1

Package: synapse
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends},
#Hard-code version for Lucid, ${shlibs:Depends} doesn't work for libs in the PPA
         libjson-glib-1.0-0 (>= 0.10.0),
         libgee2 (>= 0.6.0),
         libzeitgeist-1.0-0 (>= 0.2.14) | libzeitgeist-1.0-1 (>= 0.3.2)
Recommends: zeitgeist (>= 0.6.0~) | zeitgeist-core (>= 0.6.0~),
            zeitgeist-fts-extension | zeitgeist-extension-fts
Description: semantic file launcher
 Synapse is a graphical launcher enabling you to start applications and also
 to quickly find and access relevant documents and files (by making use of the
 Zeitgeist engine).

Package: synapse-dbg
Architecture: any
Section: debug
Priority: extra
Depends: synapse (= ${binary:Version}),
         ${shlibs:Depends},
         ${misc:Depends}
Description: semantic file launcher - debug package
 Synapse is a graphical launcher enabling you to start applications and also
 to quickly find and access relevant documents and files (by making use of the
 Zeitgeist engine).
 .
 This package contains the debug symbols.
